body {
	font-family: "Georgia", serif;
	margin: 20px;
	background-color: #e6f2ff;
}

h1, h2, h3 {
	font-weight: bold;
	font-size: 36px;
	color: #333333;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	color: #555555;
	margin-bottom: 20px;
}

nav {
	background-color: #4d4d4d;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}

nav a:hover {
	color: #e6f2ff;
	text-decoration: underline;
}

.images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.images img {
	margin-right: 20px;
	margin-bottom: 20px;
	max-width: 30px;
	max-height: 20px;
	object-fit: cover;
	border-radius: 10px;
}

footer {
	background-color: #4d4d4d;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

footer p {
	margin: 0;
}
