body {
	font-family: "Georgia", serif;
	margin: 20px;
	background-color: silver;
}

h1 {
	font-weight: bold;
	font-size: 70px;
	color: #050405;
	margin-bottom: 20px;
}

h2 {
	font-weight: bold;
	font-size: 50px;
	color: #050405;
	margin-bottom: 20px;
}

h3 {
	font-weight: bold;
	font-size: 30px;
	color: #050405;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	color: #693555;
	margin-bottom: 20px;
}

nav {
	background-color: #CC5888;
	padding: 10px;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #E9E8E8;
	text-decoration: underline;
}

nav a:hover {
	color: #615457;
	text-decoration: underline;
}

.images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.images img {
	margin-right: 20px;
	margin-bottom: 20px;
	max-width: 300px;
	max-height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

.left-side {
	width:45%;
	float:left;
	margin-right: 20px;
}

.right-side{
	float:right;
	width: 45%;
	margin-left: 20px;
}

footer {
	background-color: #CC5888;
	color: #693555;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

